<div class="row">
  <div class="col-lg-8 col-md-12">
    <nb-card>
      <nb-card-header>API Token</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="input-group input-group-border-only  col-md-9">
            <input type="text" placeholder="API Token" class="form-control" [disabled]="true" [ngModel]="api_token"/>
          </div>
          <div class="input-group input-group-border-only col-md-3">
              <button class="btn btn-primary text-center inline" type="button" (click)="generate()">
                  Generate
              </button>
              <button class="btn btn-primary text-center inline ml-2" type="button" (click)="copyText()">
                  Copy
              </button>
          </div>
         
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
