<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <img src="assets/images/logo.png" style="height: 40px;"/>
    <div class="logo" (click)="goToHome()">KYC <span>Admin</span>
    </div>
  </div>
</div>

<div class="header-container">
  <nb-action>
    <nb-user [nbContextMenu]="userMenu" [name]="user?.u"></nb-user>
  </nb-action>
</div>
